.inter {
    font-family: "Inter", sans-serif;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.hrline {
    width: 744px;
    height: 1px;
    border: none;
    border-top: 2px dashed #03071233;
}

.hrline2 {
    width: 609px;
    height: 1px;
    border: none;
    border-top: 2px dashed #03071233;
}

.hrline3 {
    width: 375px;
    height: 1px;
    border: none;
    border-top: 2px dashed #03071233;
}

.hrline4 {
    width: 369px;
    height: 1px;
    border: none;
    border-top: 2px #03071233;
}

.vline {
    border-left: 1px dashed #0307124d;
    width: 2px;
    height: 992px;
}

.custom-border {
    border-radius: 88px 88px 0px 0px;
    border-top: 2px solid var(--primary-700, #1DD100);
    background: #F7F8F8;
}